<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mustache Activity</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>User Directory</h1>
      <div class="container">
        {{#users}}
          <a class="user-profile-short" href="/userProfile/{{id}}">
            <img src={{avatar}} alt="Image of {{name}}">
            <p id="namePunch">{{name}}</p>
            {{#job}}
              <p>{{job}}</p>
              <p>{{company}}</p>
            {{/job}}
            {{^job}}
              <p id="available-01">available for hire</p>
            {{/job}}
          </a>
        {{/users}}
      </div>
    <footer>
      <script type="text/javascript"></script>
    </footer>
  </body>
</html>
